<%= form_for(dictionary) do |f| %>
  <% if dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
      <% dictionary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :chinese %>
    <%= f.text_field :chinese %>
  </div>

  <div class="field">
    <%= f.label :english %>
    <%= f.text_field :english %>
  </div>

  <div class="field">
    <%= f.label :pinyin %>
    <%= f.text_field :pinyin %>
  </div>

  <div class="field">
    <%= f.label :part_of_speech %>
    <%= f.text_field :part_of_speech %>
  </div>

  <div class="field">
    <%= f.label :times_tested %>
    <%= f.number_field :times_tested %>
  </div>

  <div class="field">
    <%= f.label :times_correct %>
    <%= f.number_field :times_correct %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
