<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @dictionary.user %>
</p>

<p>
  <strong>Chinese:</strong>
  <%= @dictionary.chinese %>
</p>

<p>
  <strong>English:</strong>
  <%= @dictionary.english %>
</p>

<p>
  <strong>Pinyin:</strong>
  <%= @dictionary.pinyin %>
</p>

<p>
  <strong>Part of speech:</strong>
  <%= @dictionary.part_of_speech %>
</p>

<p>
  <strong>Times tested:</strong>
  <%= @dictionary.times_tested %>
</p>

<p>
  <strong>Times correct:</strong>
  <%= @dictionary.times_correct %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
